/* Custom CSS for the logo */
.navbar .navbar-brand img {
    width: 80%
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: #ffffff;
}
.navbar-nav .nav-link:hover {
    font-size: 19px;
}

/* Hero slider css */
/* Custom CSS for the hero slider */
.hero-slider {
    margin-top: 5px;
}

.hero-slider img {
    width: 100%;
    height: 400px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6); /* Background color with transparency */
    padding: 20px;
    border-radius: 5px;
    color: #fff;
}

.carousel-caption h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.carousel-caption p {
    font-size: 18px;
    margin-bottom: 20px;
}

.carousel-caption .btn {
    font-size: 18px;
}

/* Custom CSS for the description section */
.description-section .description-content {
    width: 78%;
    margin: auto;
    background: #f7f7f7;
    padding-bottom: 20px;
    border-radius: 55px;
}

.description-section .description-icon i {
    font-size: 200%;
}

/*Image slider section*/
.image-slider-section #image-slider {
    width: 50%;
    margin: auto;
    text-align: center;
}

.image-slider-section #image-slider #img {
    width: 100%;
}
